*{
    font-family: sans-serif;
}
body{    
    margin: 0px;
    padding: 0px;
}
#desktoplistnav{
    display: flex;
    flex-direction: row;
    padding:0;
    margin-right: 0.5em;
    margin-top:0.2em ;
    color: blue; 
}
header {

    width: 100%;
    background-color: #BE1622;
    display: flex;
    flex-direction: row;
    padding: 0 0 0;

    .title1 {
        color: white;
        font-weight: bold;
        text-align: left;
        margin-top: 1.1em;
        
    }

   

    .desktoplist{
        &:hover {
            font-weight: bold;
        }
        list-style: none;
        text-align:center;
        
        font-size: 1.1em;
        padding: 0.0em;
        margin: 1em 1em 1em;
        
        
    }
    nav{
        margin-left: auto;
    }
    .desktoplist a{
        text-decoration: none;
        color: ghostwhite;
    
    }
    .mobile-menu{/* Burger menu */
    
        position: relative;
        right: 0%;
        margin-right:0.5em;
        cursor: pointer;
        margin-left: auto;
    }
    
}

#mobilelistNav{
        
    background-color: #34516C;
    width: 100%;
    margin: 0;
    display: none;
    flex-direction: row;
    list-style: none;
    padding: 0;
    
#mobilelist{
    
    text-decoration: none;
    color: ghostwhite;
    &:hover {
        font-weight: bold;
    }
    padding: 0.5em;
    font-size: 1.3em;
    text-align: right;
}

}

footer {
    bottom: 0;
    display: flex;
    margin-top: 1em;
    
    width: 100%;
    color: white;
    background-color: #007FB0;
}

.footer-grid {
    bottom: 0;
    margin-left: 5%;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: space-evenly;
  }
.grid-item{
    align-items: space-evenly;
    
    margin-right: 30%;
}
.grid-item p{
    font-size: 90%;
}
.grid-item h1{
    font-size: 100%;
}

  
@media (max-width : 850px) {
    .desktoplist{
        display: none;
    }

        
  }
  @media (min-width : 600px) {
    .title1{
        font-size: 25px;
        
    }
    
    
        
  }
@media (max-width : 600px) {
    .title1{
        font-size: 20px;
        
        
    }
    .footer-grid{
        grid-template-columns: auto auto;
    }
    
        
  }
  @media (max-width : 440px) {
    .logo{
        width: 60%;
    }
    .title1{
        font-size: 15px;
        
    }
    #itemname{
        color:red;
        font-size: 100%;
    }
    #itemdisc{
        
        font-size: 80%;
    }
    #itemsgrid{
        grid-template-columns:auto ;
        padding-left: 20% ;
        
    }
    .itemnav{
        margin: 0.1em 0.1em 0.1em;
        font-size: 0.8em;
    }
        
  }
@media (min-width : 851px) {
    

   .mobile-menu{
    display:none;
    }
    .title1 {
        
        font-size:25px;
        
    }
    
  }
  
