

#item{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    background-color: e8e8e8;
    align-content: center;
    border:  solid #C7CBDA;
}
#scrolltop {
    position:fixed;
    left:10px;
    bottom: 50%;
    width : 50px;
    height: 50px;
    border-radius: 50%;
    background: #e67239;
    cursor: pointer;
}
.footer{
    position: fixed;
    bottom: 0;
}
#itemimage{
    margin-left: auto;
    margin: auto;
    width: 60%;
}
#itemname{
    color:orange;
    font-size: 150%;
}
#itemdisc{
    font-size: 100%;
}

@media (max-width : 450px) {

  }
  @media (min-width : 850px) {
    
   
    
  }
  
