

#item{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    background-color: e8e8e8;
    align-content: center;
    border:  solid #C7CBDA;
}
#itemimage{
    margin-left: auto;
    margin: auto;
    width: 60%;
}
#itemname{
    color:orange;
    font-size: 150%;
}
#itemdisc{
    font-size: 100%;
}

@media (max-width : 450px) {
    .grid-item p{
        font-size: 90%;
    }
    .grid-item h1{
        font-size: 100%;
    }
  }
  @media (min-width : 850px) {
    
   
    
  }

