


  
   
main {
    margin-left:25%;
    margin-right:25%;
}





h1{
    padding: 1em;
    text-align:center;
    color:  #34516C;
}
h2{
   
    margin-left:5%;
    text-align: left;
    color: gold;
}
p{
    text-align: center;
    margin:2%;
}

.vid1{
    display: block;
    width: 100%;
}
.vid2{
    display: block;
    width: 100%;
    
}


@media (max-width : 850px) {
       
        
    }
@media (min-width : 850px) {
    .vid2
    min-height: 100em;
      
    }
