 

h1{
    padding: 1em;
    
    color:  #34516C;
}
.headings{
    margin-left:5%;
    
    color: gold;
    
}
.mainin{
    text-align: center;
    margin:2%;
}

.vid1{
    display: block;
    width: 100%;
}
.vid2{
    display: block;
    width: 100%;
    
}

@media (max-width : 850px) {
    main {
        margin-left:25%;
        margin-right:25%;
    }
        
    }
@media (min-width : 850px) {
    .vid2{
      min-height: 20em;  
    }
    main {
        margin-left:25%;
        margin-right:25%;
    }
      
    }
