
.main{
    padding-bottom: 5%;
    min-height: 100%;
}


.itemnav{
    margin-left: 21%;
    padding:0;
    margin-right: 0.5em;
    margin-top:1em ;
    display: flex;
    flex-direction: row;
    .pro{
    list-style: none;
    text-decoration: none;
    font-size: 1.1em;
    margin: 1em 1em 1em;
}
.select{
    &:hover {
        font-weight: bold;
    }
    list-style: none;
    text-decoration: none;
    font-size: 1.1em;
    margin: 1em 1em 1em;
    
}
}

#scrolltop {
    position:fixed;
    left:10px;
    bottom: 50%;
    width : 50px;
    height: 50px;
    border-radius: 50%;
    background: #e67239;
    cursor: pointer;
}
#itemsgrid{
    align-self: center;
    display: grid;
    grid-template-columns:auto auto auto;
    padding:0% 22% 0em;
    column-gap: 0.25%;
    row-gap: 2em;
    #eachitem{
        padding-right: 0;
        width: 80%;
        height: 100%;
        background-color: e8e8e8;
        align-content: center;
        border:  solid #C7CBDA;
    }

    #itemname{
        text-align: center;
        color:orange;
        font-size: 150%;
    }
    #itemdisc{
        text-align: center;
        font-size: 120%;
    }
    #readmore {
        margin-left: auto;
        text-align: center;
    }

    .buybutton{
        align-self: center;
    }
    }
     

@media (max-width : 850px) {
    .desktoplist{
        display: none;
    }
    #itemsgrid{
        grid-template-columns:auto auto ;
        padding:0% 11% 0em;
        
        
    }
    .itemnav{
        margin-left: 2%;}
        
  }
  @media (min-width : 600px) {
   
    
    
        
  }
@media (max-width : 600px) {
   
    
    
        
  }
  @media (max-width : 440px) {
    #itemname{
        color:red;
        font-size: 100%;
    }
    #itemdisc{
        
        font-size: 80%;
    }
    #itemsgrid{
        grid-template-columns:auto ;
        padding-left: 20% ;
        
    }
    .itemnav{
        margin: 0.1em 0.1em 0.1em;
        font-size: 0.8em;
    }
        
  }
@media (min-width : 851px) {
    

   .mobile-menu{
    display:none;
    }
    
    
  }
  
