
.main{
    padding-bottom: 5%;/*This adds a padding at the bottom so there is no footer collision*/
    min-height: 100%;/*This sets a min height of the page*/
}


.itemnav{
    margin-left: 21%;
    padding:0;/*This sets padding as 0 all the way around the text*/
    margin-right: 0.5em;/*adds a slight margin to the right and top*/
    margin-top:1em ;
    display: flex;/*places it as a flex so it can be put in a row*/
    flex-direction: row;
    
}
.pro{
    list-style: none;/*This removes the bullet points
    and the underlines*/text-decoration: none;
    font-size: 1.1em;/*This sets the font at 1.1 em*/
    margin: 1em 1em 1em;/*This adds a even margin all the way */
}
.select{
    
    list-style: none;/*This removes the bullet points
    and the underlines*/text-decoration: none;
    font-size: 1.1em;/*This sets the font at 1.1 em*/
    margin: 1em 1em 1em;/*This adds a even margin all the way */
    
}
.select:hover {/*When the cursour hovers over this item then it will become bold*/
    font-weight: bold;
}

#scrolltop {
    position:fixed;
    left:10px;/*These following are to position the button and also set its size */
    bottom: 50%;
    width : 50px;
    height: 50px;
    border-radius: 50%;
    background: #34516c;
    cursor: pointer;/*When the pointer goes over the button it becomes a pointer*/
}
#itemsgrid{
    align-self: center;/*This is to align the content or text*/
    display: grid;/*This puts the items in a grid so it can be personised easier and have a more real look */
    grid-template-columns:auto auto auto;/*This makes it show in a row of three*/
    padding:0% 22% 0em;/*With a 22% padding on the sides and a 0.25 % column gap */
    column-gap: 0.25%;
    row-gap: 2em;
    

    }
     #eachitem{
        padding-right: 0;
        width: 80%;/*This sets a width and height */
        height: 100%;
        background-color: #e8e8e8;/*This sets the background as white*/
        align-content: center;/*This is to align the content or text*/
        border:  solid #C7CBDA;
    }
    #itemname{
        text-align: center;/*This is to align the content or text*/
        color:#F47721;
        font-size: 150%;/*This sets the font at 150%*/
    }
    #itemdisc{
        text-align: center;/*This is to align the content or text*/
        font-size: 120%;/*This sets the font at 120%*/
    }
    #readmore {
        margin-left: auto;
        text-align: center;/*This is to align the content or text*/
    }

    .buybutton{
        align-self: center;/*This is to align the content or text*/
    }

@media (max-width : 850px) {/*the media tag can be used to ajust details depending on the size of the view width */
    .desktoplist{
        display: none;
    }
    #itemsgrid{
        grid-template-columns:auto auto ;/*when it gets smaller it will remove a row to look better on smaller devices */
        padding:0% 11% 0em;
        
        
    }
    .itemnav{
        margin-left: 2%;}
        
  }

  @media (max-width : 440px) {/*the media tag can be used to ajust details depending on the size of the view width */
    #itemname{
        
        font-size: 100%;/*This sets the font at 100% when it becomes smaller*/
    }
    #itemdisc{
        
        font-size: 80%;/*This sets the font at 80% when it becomes smaller*/
    }
    #itemsgrid{
        grid-template-columns:auto ;/*when it gets smaller it will remove a row to look better on smaller devices */
        padding-left: 20% ;
        
    }
    .itemnav{
        margin: 0.1em 0.1em 0.1em;
        font-size: 0.8em;/*This sets the font at 0.8em when it becomes smaller*/
    }
        
  }
@media (min-width : 851px) {/*the media tag can be used to ajust details depending on the size of the view width */
    

   .mobile-menu{
    display:none;
    }
    
    
  }
  
